@font-face{
    font-family: "Aban";
    src: url(../font/Aban.ttf);
}
@font-face{
    font-family: "IranSans";
    src: url(../font/IranSans.ttf);
}
@font-face{
    font-family: "Kokab";
    src: url(../font/Kokab.ttf);
}
@font-face{
    font-family: "Mitra";
    src: url(../font/Mitra.ttf);
}

@font-face{
    font-family: "Mj-flow";
    src: url(../font/Mj\ flow.ttf);
}

@font-face{
    font-family: "nasim";
    src: url(../font/nasim.ttf);
}

@font-face{
    font-family: "Ramsar";
    src: url(../font/Ramsar.ttf);
}
@font-face{
    font-family: "Yekan";
    src: url(../font/Yekan.ttf);
}

@font-face{
    font-family: "Roya";
    src: url(../font/Roya.ttf);
}

@font-face{
    font-family: "Thuluth";
    src: url(../font/Thuluth.ttf);
}

@font-face{
    font-family: "Traffic";
    src: url(../font/Traffic.ttf);
}